<div class="innerLR col-md-offset-2">

    <h2 class="margin-none">About</h2>

    <div class="separator-h"></div>

    <div class="row">
        <div class="col-md-9 widget">
            <div class="separator"></div>
            <div class="media">
                <h3>GDG Tel Aviv</h3>
                GDG Tel Aviv is the central hub of GDGers in Israel. GDG Tel Aviv hosts a wide range of speakers using many different Google related technologies (Android, Chrome, HTML5, AppEngine, etc.). We also have non-technical lectures every once in a while.<br>
                <br>
                <h3>GDG Herzeliya</h3>
                This group is a joint venture of 4 organizations:<br>
                <br>
                GDG Herzeliya - a group that is sponsored and endorsed by Google in order to aid the communities that use their technology (Android, Chrome, HTML5, AppEngine, etc.)<br>
                The Israeli Android Association - focusing on two main facets, building a community that creates a common ground for networking with Android developers in Israel, and providing knowledge in latest technologies through organizing lectures, events, labs, etc.<br>
                The Cantina - an NPO that has set out to create and nurture open source groups and communities by organizing events that feature lectures and Hackathons<br>
                The Media Lab at IDC Herzeliya which hosts most of our events<br>
                The group features events that include technical lectures and themed hackathons mostly focused on Android OS.<br>
                <br>
                    <h3>GDG Beer Sheva</h3>
                GDG Beer Sheva is a place to meet developers from the Negev area to discuss about the Google-related technologies. Come and meet great people, talk about technologies, learn cool new things and all of that in a very fun atmosphere!<br>
                <br>
                        <h3>GDG Haifa</h3>
                GDG Haifa was founded by Technion students and it is the newest addition to Israel's Google Developer Groups. Join this up and coming community to help make it a place to talk about Google-related technologies, learn cool new things and meet great people! :)<br>
            </div>
            <div class="separator"></div>

        </div>
        <!-- //  End Col -->

        <div class="col-md-4">


        </div>
        <!-- //End Col -->

    </div>
</div>