<div class="innerLR">

	<h2 class="margin-none">Contributors</h2>

	<div class="separator-h"></div>

	<div class="gridalicious" data-gridalicious-gutter="0" data-gridalicious-width="280" data-toggle="gridalicious">
		<div class="galcolumn"
		     style="width: 25%; padding-left: 0px; padding-bottom: 0px; float: left; -moz-box-sizing: border-box;"
		     ng-repeat="columnContents in expertsInColumns">
			<div ng-repeat="expert in columnContents"
			     class="widget widget-heading-simple widget-body-white widget-pinterest"
			     style="margin-bottom: 0px; opacity: 1;">
				<div class="widget-body padding-none">
					<a data-gallery="" class="thumb animated fadeInDown" href="{{ expert.linkedin }}" target="_blank"
					   style="visibility: visible;">
						<img alt="photo" ng-src="{{ expert.image }}"
						     style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;">
					</a>

					<div class="description col-md-12">
						<h5 class="text-uppercase">{{ expert.name }}</h5>

						<p>{{ expert.introduction }}</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
