<div id="menu" class="hidden-print">
	<div id="sidebar-discover-wrapper">
		<ul class="list-unstyled">

			<li class="active">

				<a href="#sidebar-discover-social" class="glyphicons home " data-toggle="sidebar-discover"><i></i><span>GDG Israel</span></a>

				<div id="sidebar-discover-social" class="sidebar-discover-menu">
					<div class="innerAll text-center border-bottom text-muted-dark">
						<strong>GDG Israel</strong>
					</div>
					<ul class="animated fadeIn">
						<li class="active"><a href="index.html?lang=en">GDG Tel Aviv</a></li>
						<li><a href="courses_2.html?lang=en">GDG Haifa</a></li>
						<li><a href="finances.html?lang=en">GDG Beer Sheva</a></li>
						<li><a href="dashboard_users.html?lang=en">GDG Herzeliya</a></li>
					</ul>
				</div>
			</li>

			<li><a href="#/events" class="glyphicons google_maps"><i></i><span>Events</span></a></li>

			<li><a href="#/videos" class="glyphicons google_maps"><i></i><span>Videos</span></a></li>

			<li>
				<a href="#sidebar-discover-media" class="glyphicons picture"
				   data-toggle="sidebar-discover"><i></i><span>Content</span></a>

				<div id="sidebar-discover-media" class="sidebar-discover-menu">
					<div class="innerAll text-center border-bottom text-muted-dark">
						<strong>Content</strong>
					</div>
					<ul class="animated fadeIn">
						<li><a href="gallery_video.html?lang=en"><i class="fa fa-video-camera"></i> Video Gallery</a>
						</li>
						<li><a href="gallery.html?lang=en"><i class="fa fa-camera"></i> Photo Gallery</a></li>
					</ul>
				</div>
			</li>

			<li><a href="events.html?lang=en" class="glyphicons google_maps"><i></i><span>Experts</span></a></li>

		</ul>
	</div>
</div>
