<div class="innerLR">
    <div class="innerB">
        <h2 class="margin-none pull-left">Latest videos</h2>
        <div class="clearfix"></div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="widget" ng-repeat="video in videos" ng-show="$index % 3 != 0">
                        <div class="thumbnail">
                            <img src="http://img.youtube.com/vi/{{video.youtube}}/mqdefault.jpg"
                                 alt="{{video.title}}">

                            <div class="caption">
                                <h3>{{video.title}}</h3>
                                <p>
                                    by {{video.speaker}}
                                </p>
                                <p>
                                    {{video.description}}
                                </p>
                                <p>
                                    <a href="http://www.youtube.com/watch?v={{video.youtube}}" class="btn btn-primary" role="button">
                                        Watch Now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="widget" ng-repeat="video in videos" ng-show="$index % 3 == 0">
                        <div class="thumbnail">
                            <img src="http://img.youtube.com/vi/{{video.youtube}}/mqdefault.jpg"
                                 alt="{{video.title}}">

                            <div class="caption">
                                <h3>{{video.title}}</h3>
                                <p>
                                    by {{video.speaker}}
                                </p>
                                <p>
                                    {{video.description}}
                                </p>
                                <p>
                                    <a href="http://www.youtube.com/watch?v={{video.youtube}}" class="btn btn-primary" role="button">
                                        Watch Now
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>